In [58]:
import pandas as pd

In [59]:
df_2016 = pd.read_csv("crus_stock_2016.csv", thousands=",")
df_2017 = pd.read_csv("crus_stock_2017.csv", thousands=",")
df_2018 = pd.read_csv("crus_stock_2018.csv", thousands=",")
df_2019 = pd.read_csv("crus_stock_2019.csv", thousands=",")
df_2020 = pd.read_csv("crus_stock_2020.csv", thousands=",")
df_2021 = pd.read_csv("crus_stock_2021.csv", thousands=",")
df_2022 = pd.read_csv("crus_stock_2022.csv", thousands=",")
df_2023 = pd.read_csv("crus_stock_2023.csv", thousands=",")

In [60]:
df_2016["Date"] = pd.to_datetime(df_2016["Date"])
df_2017["Date"] = pd.to_datetime(df_2017["Date"])
df_2018["Date"] = pd.to_datetime(df_2018["Date"])
df_2019["Date"] = pd.to_datetime(df_2019["Date"])
df_2020["Date"] = pd.to_datetime(df_2020["Date"])
df_2021["Date"] = pd.to_datetime(df_2021["Date"])
df_2022["Date"] = pd.to_datetime(df_2022["Date"])
df_2023["Date"] = pd.to_datetime(df_2023["Date"])

In [61]:
df_2016.sort_index(inplace=True, ascending=False)
df_2017.sort_index(inplace=True, ascending=False)
df_2018.sort_index(inplace=True, ascending=False)
df_2019.sort_index(inplace=True, ascending=False)
df_2020.sort_index(inplace=True, ascending=False)
df_2021.sort_index(inplace=True, ascending=False)
df_2022.sort_index(inplace=True, ascending=False)
df_2023.sort_index(inplace=True, ascending=False)

In [62]:
df = pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023])

In [63]:
# Convert volume into a float
df["Volume"] = df.Volume.astype(int)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1887 entries, 236 to 0
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1887 non-null   datetime64[ns]
 1   Open    1887 non-null   float64
 2   High    1887 non-null   float64
 3   Low     1887 non-null   float64
 4   Close   1887 non-null   float64
 5   Volume  1887 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(1)
memory usage: 95.8 KB

In [65]:
df.to_csv("CRUS_stock_2016_2023.csv", index=False)

In [66]:
df

          Date   Open   High    Low  Close   Volume
236 2016-01-04  29.35  29.45  28.31  29.30  1569911
235 2016-01-05  29.48  29.54  27.32  27.56  3932534
234 2016-01-06  27.07  27.92  26.73  26.80  3669946
233 2016-01-07  26.10  27.15  25.65  26.80  3080217
232 2016-01-08  27.51  29.45  27.32  27.80  7873216
..         ...    ...    ...    ...    ...      ...
4   2023-12-04  75.77  77.19  75.57  77.02   339059
3   2023-12-05  76.38  78.26  75.80  78.10   499485
2   2023-12-06  78.74  79.40  77.44  77.73   290438
1   2023-12-07  77.98  78.59  77.46  78.56   284243
0   2023-12-08  78.52  79.81  78.50  78.53   545389

[1887 rows x 6 columns]